

<div id="chatMessages">

</div>

<div>
    <form id="chatForm">
        <input type="text" id="message" placeholder="Mensaje" required>
        <button type="submit">Enviar</button>
    </form>
</div>

<script src="/socket.io/socket.io.js"></script>

<script>
    const socket = io()

    const user = prompt("Nombre de Usuario")

    socket.on('updateChat', function(messages) {
        updateChat(messages)
    })

function sendMessage(user, message) {
    socket.emit('sendMessage', {user, message})
}

function updateChat(messages) {
    const chatMessages = document.getElementById('chatMessages')
    chatMessages.innerHTML = ''

    messages.forEach(function (message) {
        const  paragraph = document.createElement('p')
        paragraph.textContent = message.user + ': ' + message.message
        chatMessages.appendChild(paragraph)
    })
}

document.getElementById('chatForm').addEventListener('submit', function(event) {
    event.preventDefault()
    const message = document.getElementById('message').value
    sendMessage(user, message)

    document.getElementById("chatForm").reset()

})
</script>

<script src="../js/chat.js"></script>
